@import url("https://fonts.googleapis.com/css2?family=Calistoga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.blogsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    height: 133vh;
    background: #fff8ef;
    text-align: center;
}

.blogCategory {
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #a4a4a4;
    margin-bottom: 5px;
}

.blogContainer {
    display: flex;
    width: 100%;
    max-width: 350px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    text-align: left;
    flex-wrap: wrap;
}
.blogContent {
    color: #0a676d;
    padding: 1rem;
}

.blogDescription {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
}

.blogImage {
    width: 100%;
    object-fit: cover;
}

.blogList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
    flex-wrap: wrap;
}
.blogTitle {
    font-family: "Calistoga", cursive;
    font-size: 14px;
    margin-bottom: 5px;
}

.divBlogs {
    width: 100%;
    padding: 0 5rem;
}

.titleBlogs {
    font-family: "Calistoga", cursive;
    font-size: 34px;
    margin-bottom: 2rem;
    color: #08b4c0;
}

.trendingBlogContainer {
    background-image: url(/pictures/trending-blog-image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
}

.trendingBlogCategory {
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-shadow: 0px 0px 3px #494949;
}

.trendingBlogContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
}

.trendingBlogTitle {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0px 0px 3px #494949;
}

.trendingIcon {
    background-color: #08b4c0;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 1.3rem;
    font-size: 12px;
    font-weight: bold;
    font-family: "Poppins", cursive;
    letter-spacing: 3px;
}

.trendingBlogContainer,
.blogContainer {
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.4);
}

@media (max-width: 1270px) {
    .blogList {
        justify-content: center;
    }
    .blogContainer {
        margin: 0.5rem;
    }
    .blogsContainer {
        height: 200vh;
    }
    .divBlogs {
        padding: 0rem;
    }
}

@media (max-width: 790px) {
    .blogsContainer {
        height: 250vh;
    }
}
