@import url("https://fonts.googleapis.com/css2?family=Calistoga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.divBttn {
    display: flex;
    justify-content: center;
    padding: 4rem;
}

.headerContainer {
    font-family: "Calistoga", cursive;
    text-shadow: 0px 0px 5px #000;
    background-image: url(https://cdn.pixabay.com/photo/2016/10/18/21/22/beach-1751455_1280.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navBarContainer {
    display: flex;
    justify-content: space-between;
    padding: 4rem 6rem;
}

.navBar {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    max-width: 400px;
}

.titleHeader {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}
