@import url("https://fonts.googleapis.com/css2?family=Calistoga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.myVideo {
    position: absolute;
    height: 133vh;
}

.divBttn {
    display: flex;
    justify-content: center;
    padding: 4rem;
}

.headerContainer {
    position: relative;
    height: 133vh;
}

.headerContent {
    position: absolute;
    font-family: "Calistoga", cursive;
    text-shadow: 0px 0px 5px #000;
    height: 133vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.navBarContainer {
    display: flex;
    justify-content: space-between;
    padding: 0rem 6rem;
}

.navBar {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    max-width: 400px;
}

.titleHeader {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    font-size: 34px;
}
