.mainButton {
  width: 100%;
  max-width: 220px;
  margin: 5px auto;
  border: none;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  background-color: #f7ad3e;
  font-size: larger;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  color: #0a676d !important;
}

.primary {
  padding: 10px;
}

.second {
  padding: 0.2rem 0.8rem;
}

@media (max-width: 300px) {
  .mainButton {
    font-size: small;
  }
}
