.dropdownStyle {
  position: relative;
  display: inline-block;
}

.toggleStyle {
  background-color: transparent;
  border: none;
  text-shadow: 0px 0px 5px #000;
  color: white;
}

.menuStyle {
  position: absolute;
  background-color: rgb(254, 254, 254);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  min-width: 140px;
  z-index: 1;
  padding: 12px;
}

.listItemStyle {
  cursor: pointer;
  list-style-type: none;
  text-align: left;
}

.campsLogo {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}
.divBttn {
  display: flex;
  justify-content: center;
}

.headerContainer {
  position: relative;
  height: 133vh;
  display: flex;
  justify-content: center;
}

.headerContainer a {
  color: white;
  text-decoration: none;
}

.headerContent {
  position: absolute;
  font-family: "Calistoga", cursive;
  height: 133vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.headerItemsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.myVideo {
  position: absolute;
  height: 133vh;
}

.logo {
  width: 130px;
}

.navBarContainer {
  display: flex;
  justify-content: space-between;
  padding: 0rem 6rem;
  flex-wrap: wrap;
}

.navBar {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  flex-wrap: wrap;
  text-shadow: 0px 0px 5px #000;
  font-family: "Calistoga", cursive;
  font-size: 22px;
  padding-left: 0;
}

.navbarTraslateDiv {
  display: flex;
}

.titleHeader {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  font-size: 40px;
  color: white;
  text-shadow: 0px 0px 5px #000;
}

@media (max-width: 1000px) {
  .headerContainer {
    height: 100vh;
  }
  .headerContent {
    height: 100vh;
  }

  .myVideo {
    height: 100vh;
  }
  .navBarContainer {
    flex-direction: column;
  }
  .navbarTraslateDiv {
    flex-direction: column;
  }
}

@media (max-width: 790px) {
  .navBarContainer {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0;
  }
  .navbarTraslateDiv {
    flex-direction: column;
    width: 100%;
  }
  .campsLogo {
    max-width: 140px;
  }
  .titleHeader {
    font-size: 28px;
  }
  .navBar {
    font-size: 16px;
  }
}

@media (max-width: 470px) {
  .navBar {
    height: auto;
    padding: 1rem 0;
    flex-direction: column;
  }
}
@media (max-width: 355px) {
  .titleHeader {
    font-size: 20px;
  }
}
@media (max-width: 310px) {
  .headerItemsContainer {
    flex-direction: column;
  }
}
