.divBttn {
  display: flex;
  justify-content: center;
}

.headerContainer {
  position: relative;
  height: 133vh;
}

.headerContainer a {
  color: white;
  text-decoration: none;
}

.headerContent {
  position: absolute;
  font-family: "Calistoga", cursive;
  height: 133vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.headerItemsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.myVideo {
  position: absolute;
  height: 133vh;
}

.logo {
  width: 100px;
}

.navBarContainer {
  display: flex;
  justify-content: space-between;
  padding: 0rem 6rem;
  flex-wrap: wrap;
}

.navBar {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  flex-wrap: wrap;
  text-shadow: 0px 0px 5px #000;
}

.titleHeader {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  font-size: 34px;
  color: white;
  text-shadow: 0px 0px 5px #000;
}

@media (max-width: 1000px) {
  .headerContainer {
    height: 100vh;
  }
  .headerContent {
    height: 100vh;
  }

  .myVideo {
    height: 100vh;
  }
}

@media (max-width: 790px) {
  .navBarContainer {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 310px) {
  .headerItemsContainer {
    flex-direction: column;
  }
}
