.campsContent,
.campsCarousel {
  width: 13%;
  padding: 1rem 2rem;
  flex-basis: 50%;
}

.campsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem 6rem 2rem;
  color: #0a676d;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1320px;
  margin: auto;
}

.campsTitle {
  font-family: "Calistoga", cursive;
  font-size: 38px;
  color: #0a676d;
}

.campsText {
  font-family: "Poppins", sans-serif;
  margin-top: 1rem;
  font-size: 16px;
  text-align: justify;
  color: #0a676d;
}

.faqContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem 6rem 2rem;
  color: #0a676d;
  width: 100%;
  max-width: 1160px;
  margin: auto;
}

.bookContentContainer {
  display: flex;
}

@media (max-width: 1190px) {
  .campsContainer {
    flex-direction: column;
    width: 100%;
  }
  .campsContent {
    width: 100%;
    padding: 1rem;
  }

  .campsCarousel {
    width: 100%;
    padding: 1rem;
  }
}
@media (max-width: 590px) {
  .bookContentContainer {
    flex-direction: column;
  }
  .campsTitle {
    margin: 0;
  }
}
