.campsContent,
.campsCarousel {
  width: 13%;
  padding: 1rem 2rem;
  flex-basis: 50%;
}

.campsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem 6rem 2rem;
  color: #0a676d;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1160px;
  margin: auto;
}

.campsTitle {
  font-family: "Calistoga", cursive;
  font-size: 30px;
  color: #0a676d;
}

.campsText {
  font-family: "Poppins", sans-serif;
  margin-top: 1rem;
  font-size: 14px;
  text-align: justify;
  color: #0a676d;
}
.contactButtonDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
  max-width: 600px;
}
.contactContainer {
  background-image: url("/pictures/camps/contacts-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 84vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 6rem;
  justify-content: center;
}
.contactText {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  color: white;
  text-shadow: 0px 0px 5px #000;
  margin-top: 3rem;
}
.contactTitle {
  font-family: "Calistoga", cursive;
  font-size: 34px;
  color: white;
  text-shadow: 0px 0px 5px #000;
  margin-top: 2rem;
}
