.campsContent,
.campsCarousel {
    width: 50%;
    padding: 0 3rem;
}

.campsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 2rem 6rem 2rem;
    color: #0a676d;
}

.campsTitle {
    font-family: "Calistoga", cursive;
    font-size: 30px;
    color: #0a676d;
}

.campsText {
    font-family: "Poppins", sans-serif;
    margin-top: 1rem;
    font-size: 14px;
    text-align: justify;
    color: #0a676d;
}
