.cardTitleContainer {
  background-color: #00abab;
  padding: 6px;
  margin: 0 2px;
}

.cardTitleText {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 800;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
.dateCardText {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  margin: 0;
}

.cheapBookCardContent,
.fullPriceCardContent {
  width: 100%;
  justify-content: center;
}

.cheapBookCardTitle,
.fullPriceCardTitle {
  font-size: 15px;
  text-align: center;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-bottom: 8px;
}

.cheapBookCardPrice,
.fullPriceCardPrice {
  font-size: 24px;
  text-align: center;
  font-family: "Calistoga", cursive;
  margin-bottom: 8px;
}
.cheapBookCardValid,
.fullPriceCardValid {
  font-size: 9px;
  text-align: center;
  font-family: "Popppins", sans-serif;
  margin-bottom: 8px;
  font-weight: 700;
}

.dateCardColumn {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 200px;
  padding: 0.5rem 1rem;
}
.dateCardTitle {
  font-size: 21px;
  font-family: "Roca Two Bold", sans-serif;
}

.dateCardContent {
  justify-content: space-evenly;
}

.cheapBookCardContent,
.dateCardContent {
  background-color: #cfedef;
  font-family: "Roca Two Bold", sans-serif;
}

.fullPriceCardContent {
  background-color: #e4e4e4;
  color: #a6a6a6;
}

.cheapBookCardContent,
.dateCardContent,
.fullPriceCardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 0;
  margin: 3px 2px;
}
