/* .accordionItem {
  box-shadow: none;
}

.accordionItem .accordionHeader {
  background-color: #ffffff; /* Fondo blanco */
/* color: #000000; Texto negro 
 }
/* 
.accordionItem .accordionHeader:focus {
  background-color: #007bff; /* Fondo azul */
/* color: #ffffff; Texto blanco 
}*/

.faqContentContainer {
  width: 100%;
  margin: 2rem 1rem;
}
